:root {
    --breakpoint-xs: 28rem;
    --breakpoint-sm: 40rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 64rem;
    --font-stack-serif: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    --font-stack-sans-serif: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

    --bg: #fff;
    --fg: #000;
    --link-fg: #0969da;
    --link-fg--hover: #531ab6;
    --font-family: var(--font-stack-sans-serif);
    --index-header-bg: #f6f8fa;
    --index-header-border-color: #999;
    --index-main-books-item-border-color: #999;
    --index-main-books-item-link-fg: var(--link-fg);
    --index-main-books-item-link-fg--hover: var(link-fg--hover);
    --index-main-books-item-genre-border-color: #999;
    --book-header-bg: #f6f8fa;
    --book-header-border-color: #999;
    --book-main-aside-section--author-border-color: #999;
    --chapter-header-bg: #f6f8fa;
    --chapter-header-border-color: #999;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0.65rem 0;
}

a {
    color: var(--link-fg);
    font-size: 1.05em;
    font-weight: 500;
}

a:hover {
    color: var(--link-fg--hover);
}

.global-font-stack-serif {
    --font-family: var(--font-stack-serif);
}

.index-header {
    background: var(--index-header-bg);
    border-bottom: 0.0625rem solid var(--index-header-border-color);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.index-header-heading {
    font-size: 2.5rem;
    margin: 0;
}

.index-main-books {
    margin: 0 auto;
    max-width: var(--breakpoint-lg);
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    padding: 0;
}

@media (max-width: 64rem) {
    .index-main-books {
        grid-template-columns: auto;
        padding: 1em;
    }
}

.index-main-books-item {
    padding: 1.5em;
    border-radius: 0.5em;
    border: 0.0625rem solid var(--index-main-books-item-border-color);
}

.index-main-books-item-header-link {
    color: var(--index-main-books-item-link-fg);
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.index-main-books-item-header-link:hover {
    color: var(--index-main-books-item-link-fg--hover);
    text-decoration: underline;
}

.index-main-books-item-header-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.075em;
}

.index-main-books-item-author {
    text-decoration: underline;
}

.index-main-books-item-genre {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
}

.index-main-books-item-genre-item {
    border: 0.0625em solid var(--index-main-books-item-genre-border-color);
    padding: 0.25em;
    border-radius: 0.25em;
}

.book-header {
    background: var(--book-header-bg);
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border: 0.0625rem solid var(--book-header-border-color);
}

.book-header-nav {
    text-align: left;
}

.book-header-nav-item {
    font-weight: bold;
}

.book-header-heading {
    margin: 0;
}

.book-main {
    display: grid;
    grid-template-columns: 15.625em auto;
    gap: 2em;
    margin: 1.5em auto;
    max-width: var(--breakpoint-lg);
}

@media (max-width: 64rem) {
    .book-main {
        margin: 1.5em;
        grid-template-columns: 13em auto;
    }
}

@media (max-width: 48rem) {
    .book-main {
        grid-template-columns: auto;
    }
}

@media (max-width: 28rem) {
    .book-main {
        margin: 0.5em;
    }
}

.book-main-aside {
    text-align: right;
}

@media (max-width: 48rem) {
    .book-main-aside {
        text-align: center;
    }
}

.book-main-aside-cover {
    border-radius: 1rem;
    display: block;
    align-self: flex-start;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 48rem) {
    .book-main-aside-cover {
        margin: 0 auto;
    }
}

.book-main-aside-section {
    margin: 1em 0;
}

.book-main-aside-section-link {
    font-weight: bold;
}

.book-main-aside-section-link-icon {
    fill: var(--link-fg);
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.book-main-aside-section--downloads {
    display: flex;
    gap: 2ch;
    flex-wrap: wrap;
    justify-content: flex-end;
}

@media (max-width: 64rem) {
    .book-main-aside-section--downloads {
        justify-content: center;
    }
}

.book-main-aside-section--author {
    border: 0.0625rem solid var(--book-main-aside-section--author-border-color);
    border-radius: 0.75em;
    text-align: center;
    padding: 0.5em 0.25em;
}

@media (max-width: 48rem) {
    .book-main-aside-section--author {
        padding: 0.5em 1em;
    }
}

.book-main-aside-section-author-heading {
    margin: 0;
    font-weight: 400;
}

.book-main-aside-section-author-heading-name {
    font-weight: bold;
}

.book-main-aside-section-author-bio {
    margin: 0;
    margin-top: 0.5em;
}

@media (max-width: 48rem) {
    .book-main-aside-section-author-bio {
        text-align: justify;
    }
}

.book-main-aside-section-genre-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    margin: 1em 0.5em;
    padding: 0;
    justify-content: flex-end;
}

@media (max-width: 64rem) {
    .book-main-aside-section-genre-list {
        justify-content: center;
    }
}

.book-main-aside-section-genre-list-item {
    background-color: #aed581;
    color: #000;
    border-radius: 0.25em;
    padding: 0.2em 0.4em;
}

.book-main-aside-section-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em;
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

@media (max-width: 64rem) {
    .book-main-aside-section-stats {
        justify-content: center;
    }
}

.book-main-aside-section-stats-item-icon {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.book-main-content-section--blurb blockquote {
    border-left: 0.2rem solid #999;
    margin: 0.75em 0;
    padding: 0.2em 1.5em;
}

.book-main-content-section--blurb blockquote p {
    margin: 0;
}

@media (max-width: 28rem) {
    .book-main-content-section--blurb blockquote {
        margin: 0;
        padding: 0 0.5em;
    }
}

.book-main-content-section-heading {
    margin: 0;
}

.book-main-content-section-nav {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.book-main-content-section-nav-item {
    padding: 1em;
    border: 0.0625em solid #999;
    border-radius: 1em;
}

.book-main-content-section-nav-item-heading {
    margin: 0;
    margin-bottom: 0.375em;
}

.book-main-content-section-nav-item-heading-link {
    font-weight: bold;
    color: #0969da;
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.book-main-content-section-nav-item-heading-link:hover {
    color: #531ab6;
    text-decoration: underline;
}

.book-main-content-section-nav-item-stats {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
}

.book-main-content-section-nav-item-stats-item {
    white-space: nowrap;
    border-radius: 0.375em;
    font-weight: bold;
    padding: 0.2em 0.3em;
}

@media (max-width: 28rem) {
    .book-main-content-section-nav-item-stats-item {
        white-space: unset;
    }
}

.book-main-content-section-nav-item-stats-item--published {
    background-color: #0030ff;
    color: #fff;
}

.book-main-content-section-nav-item-stats-item--lastmod {
    background-color: #aed581;
    color: #000;
}

.book-main-content-section-nav-item-desc {
    margin: 0.5em 0;
    margin-bottom: 0;
}

.chapter-header {
    background: var(--chapter-header-bg);
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border: 0.0625rem solid var(--chapter-header-border-color);
}

.chapter-header-heading {
    font-weight: normal;
    font-size: 1.75em;
}

.chapter-header-heading-link {
    text-decoration: none;
    color: var(--fg);
}

.chapter-main {
    max-width: var(--breakpoint-lg);
    margin: 1em auto;
    line-height: 1.3;
}

@media (max-width: 64rem) {
    .chapter-main {
        margin-left: 1em;
        margin-right: 1em;
    }

    .chapter-footer {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.chapter-main-pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
}

.chapter-main-content-heading {
    font-size: 2.5rem;
}

.chapter-footer {
    max-width: var(--breakpoint-lg);
    margin: 1em auto;
}

.chapter-footer-pagination {
    display: flex;
    width: 100%;
    gap: 1em;
}

@media (max-width: 48rem) {
    .chapter-footer-pagination {
        display: block;
    }
}

.chapter-footer-pagination-link {
    border: 0.0625em solid #999;
    background-color: #fefefe;
    color: #000;
    padding: 1em;
    flex-grow: 1;
    text-decoration: none;
    border-radius: 0.375em;
    display: flex;
    justify-content: space-between;
    transition: 0.1s ease-in-out;
}

@media (max-width: 48rem) {
    .chapter-footer-pagination-link {
        margin-top: 0.5em;
    }
}

.chapter-footer-pagination-link:hover {
    background-color: #eee;
}

.chapter-footer-pagination-link-icon-wrapper {
    display: flex;
    align-items: center;
}

.chapter-footer-pagination-link-icon {
    fill: #555;
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
}

.chapter-footer-pagination-link-content--prev {
    text-align: right;
}

.chapter-footer-pagination-link-content-label {
    display: block;
    font-style: normal;
    font-weight: bold;
    color: #555;
    font-size: 0.9em;
}
